[chaanbot]
# Full url of the matrix server
matrix_server_url = https://matrix.example.com:8448

# Where the sqlite database should be located
sqlite_database_location = chaanbot.db

# User id the bot should have
user_id = @chaanbot:example.com

# Access token for login. See: https://t2bot.io/docs/access_tokens/
access_token = SuperSecretToken

# Rooms to join upon start. Can be either room_id or alias
listen_rooms = #example:example.com, #test:example.com, !uYiOKapkBcMKMbUlxu:example.com

# The users allowed to invite the bot to channels. If used the bot will only accept invites from listed user ids
#allowed_inviters = @richard:example.com, @admin:example.com

# Whitelisted room ids. If used the bot will only be able to join whitelisted rooms
# Recommended to use room_ids and not aliases, as aliases will not work if invited into an unlisted room
#whitelisted_room_ids = !uYiOKapkBcMKMbUlxu:example.com, #chat:example.com

# Blacklisted room ids. If used the bot will not join blacklisted rooms
# Recommended to use room_ids and not aliases, as aliases will not work if invited into an unlisted room
#blacklisted_room_ids = !uYiOKapkBcMKMbUlxu:example.com, #chat:example.com

[modules]
# Choose which modules should be enabled
# Leave empty or commented out to load all modules (except the ones explicitly disabled)
# enabled = alive, darksky_weather, highlight

# Choose modules to disable
# disabled = alive, highlight

[darksky_weather]
# API key for darksky.net. Go to https://darksky.net/dev/ and create an account for up to 1000 calls free per day
#api_key =

[chan_save]
# Folder to save 4chan media in. E.g. /srv/4chan/
# If set (and chan_save enabled) the bot will save 4chan media files to the location.
# Only ever enable if bot is running on server with trusted users, for somewhat obvious reasons.
#save_dirpath =

# URL to where saved media is accessible. E.g. https://example.com/i/
# If enabled, bot will link to the saved media file. E.g. https://example.com/i/92cf8f9a-c1a1-11e9-81e1-2c4d54685def.png
#url_to_access_saved_files =